.site-logo {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
}

.sticky-header .site-logo img {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
}
.main-nav {
  display: table-cell;
  vertical-align: middle;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  color: black;
}
ul {
  list-style: none;
  margin: 0;
}
h1 {
  line-height: 1.4;
}
.right-column {
  padding-left: 15px;
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  white-space: nowrap;
  text-align: right;
}
.right-column > div {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.header-links {
  height: 95px;
  line-height: 95px;
  border-right: 2px solid #f5f5f5;
  padding-right: 35px;
  margin-right: 15px;
  transition: height 0.15s, line-height 0.15s, color 0.3s;
}
.header-links li a {
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative;
  font-style: italic;
  font-size: 13px;
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}
.header-links li a:after {
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #919191;
  transition: width 0.2s;
}
.header-links li a:hover:after {
  width: 100%;
  left: 0;
}
.search-button {
  position: relative;
}
.search-button a {
  display: inline-block;
  text-align: center;
}
.simple-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
}
.wishlist-info-widget {
  position: relative;
  margin-right: 6px;
  text-align: center;
}
.wishlist-info-widget > a > span {
  padding: 0;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  background-color: #1aada3;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  color: #fff;
  top: -2px;
  left: 20px;
}
.gl_count_wishlist {
  color: #1aada3;
}
.shopping-cart {
  position: relative;
  height: 30px;
}
.shopping-cart span {
  font-size: 13px;
  vertical-align: middle;
  line-height: 30px;
}

/* btn side Nav */
.main-navigation__menu-btn {
  width: 3rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
  position: fixed;
  top: 40px;
  left: 10px;
  outline: none;
}

.main-navigation__menu-btn span {
  display: block;
  width: 25px;
  height: 2px;
  background: black;
}

.main-navigation_drawer-nav {

}

/* side navigation */
@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}

@media (max-width: 768px) {
  .main-navigation_drawer-nav-inline {
    display: none;
  }
}