.site-logo {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
}
.wrap-logo {
  margin: 0;
}
.base-logo {
  max-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sticky-header .site-logo img {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-nav {
  display: table-cell;
  vertical-align: middle;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
ul {
  list-style: none;
}
h1 {
  line-height: 1.4;
}

