.menu-label {
  position: absolute;
  /* opacity: 0; */
  top: 50%;
  right: -5px;
  padding: 2px 4px;
  margin-top: -20px;
  color: #fff;
  line-height: 1.3;
  font-size: 8px;
  font-family: Karla, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}
.menu-label:after {
  content: "\f0da";
  font-family: FontAwesome;
  z-index: -1;
  font-size: 16px;
  position: absolute;
  bottom: -9px;
  left: 3px;
}
.menu-label-sale {
  background-color: #d41212;
}
.menu-label-sale::after {
  color: #d41212;
}
.menu-label-new {
  background-color: #1aada3;
}
.menu-label-new::after {
  color: #1aada3;
}
.menu-label-hot {
  background-color: #ef7c0a;
}
.menu-label-hot::after {
  color: #ef7c0a;
}
